body, html {
  width: 100%;
  height: 100%;
  font-family: 'Dosis', sans-serif;
  color: rgb(225, 222, 226);
  background: url(img/ukraine-summernight.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
}

hr {
    margin: 20px auto;
    color: rgb(42, 131, 161);
    border: 2px solid rgb(42, 131, 161);
    border-radius: 100px;
    max-width: 65px;
    opacity: 1;
}

a {
  color: rgb(143, 113, 164);
}

a:hover {
  color: rgb(121, 49, 173);
}

footer {
  clear: both;
  font-size: 0.8rem;
  text-align: right;
}

.container {
  background-color: rgba(20, 20, 20, 0.7);
}

.buffer {
  height: 15px;
}

.btn-primary {
  padding: 0.5rem 1rem;
  background-color: rgb(42, 131, 161);
  border-color: rgb(42, 131, 161);
  border-radius: 10px;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: rgb(38, 89, 106);
  border-color: rgb(38, 89, 106);
}
